<div class="heading d-flex justify-content-between align-items-start mb-3">
    <h1>Notifications</h1> <button class="btn btn-link markkbtn">MARK ALL READ</button>
  </div>
<div class="whitebg notificationPage">
  <div class="box unread d-flex align-items-md-center">
    <div class="userImage"><img src="assets/images/profilePic.png"></div>
    <div class="norifiDetail">
      <p><span>Merry</span> has marked the <span>Mendit</span> Project report as resolved.</p>
      <h4>14th Jan 2018 7:15 PM</h4>
    </div>
  </div>
  <div class="box d-flex align-items-md-center" *ngFor="let list of [1,2,3]">
    <div class="userImage"><img src="assets/images/profilePic.png"></div>
    <div class="norifiDetail">
      <p><span>Merry</span> has marked the <span>Mendit</span> Project report as resolved.</p>
      <h4>14th Jan 2018 7:15 PM</h4>
    </div>
  </div>
</div>
<app-musicbtn></app-musicbtn>
