<div class="formWrapper">
  <div class="resetFrom-section">
    <div class="formWrapper-block">
      <div class="container">
        <div class="sFormBox">
          <h3>Reset Password</h3>
          <h4>From here you will be able to reset your password.</h4>
          <form>
            <div class="field-group">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="label-sm">New Password</label>
                    <input class="form-control" placeholder="Enter Password" type="text" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="label-sm">Confirm Password</label>
                    <input class="form-control" placeholder="Confirm Password" type="text" />
                  </div>
                </div>
              </div>

              <div class="btn-field text-center padding-top-3x">
                <button class="button button-rounded button-uppercase button-width-large">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
