<div class="heading mb-3">
  <h1>Submit Feedback</h1>
</div>
<app-nodata></app-nodata>
<div class="whitebg feedbackPage">
  <div class="row align-items-center">
    <div class="col-md-4 order-md-8 col-xl-6 order-xl-6 text-center"><img src="assets/images/feedback-img.svg" class="img-fluid"></div>
    <div class="col-md-8 col-xl-6">
      <div class="row">
        <div class="col-sm-12">
          <h2>Your feedback is valuable to us. The best and most constructive feedback is rewarded with free points!</h2>
          <h3>Thank You!</h3>
        </div>
        <div class="form-group col-xl-10">
          <label>Tell us what you think so we can improve our service:</label>
          <textarea name="" placeholder="Say Something" class="form-control"></textarea>
        </div>
        <div class="col-sm-12">
          <button type="submit"  class="button button-rounded button-uppercase button-width-large button-min-130 mt-3"  (click)="feedbackModal()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-musicbtn></app-musicbtn>
