<app-inner-banner>
  <h3>FAQ’s</h3>
  <h4>Maybe we’ve already answer your questions, here’s our FAQ</h4>
</app-inner-banner>
<div class="contentWrapper contentpages">
  <div class="container">
    <accordion>
      <accordion-group>
        <div class="" accordion-heading>
          <span class="arrow icon-drop_arrow"></span>
          <div class="heading">What is Mendit?</div>
        </div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minimd veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        repreenderitgb  vyolptate ved lit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque iae abd illo inventore veritatis et
      </accordion-group>
      <accordion-group>
        <div class="" accordion-heading>
          <span class="arrow icon-drop_arrow"></span>
          <div class="heading">How it works?</div>
        </div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minimd veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        repreenderitgb  vyolptate ved lit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque iae abd illo inventore veritatis et
      </accordion-group>
      <accordion-group>
        <div class="" accordion-heading>
          <span class="arrow icon-drop_arrow"></span>
          <div class="heading">How I can submit feedback?</div>
        </div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minimd veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        repreenderitgb  vyolptate ved lit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque iae abd illo inventore veritatis et
      </accordion-group>
      <accordion-group>
        <div class="" accordion-heading>
          <span class="arrow icon-drop_arrow"></span>
          <div class="heading">How to change my name?</div>
        </div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minimd veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        repreenderitgb  vyolptate ved lit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque iae abd illo inventore veritatis et
      </accordion-group>
    </accordion>
  </div>
</div>
