@import './scss/base';
.featuresPage{
  .box{
    margin-bottom: 65px;
    @include media("<=1200px") {
      margin-bottom: 40px;
    }
    @include media("<=767px") {
      margin-bottom: 20px;
    }
    h2{
      @include text-format(28px,600);
      @include media("<=1200px") {
        font-size: 20px;
      }
    }
    p{
      line-height: 28px;
      @include media("<=1200px") {
        font-size:14px;
        line-height: 24px;
      }
    }
    h3{
      color:$main-color01;
      @include text-format(70px,bold);
      @include media("<=1200px") {
        font-size: 50px;
      }
    }
    h4{
      @include text-format(20px,600);
      min-height: 50px;
      @include media("<=1200px") {
        font-size: 18px;
      }
      @include media("<=767px") {
        min-height: 10px;
      }
    }
  }
}
