<app-inner-banner>
    <h3>Features</h3>
    <h4>Let’s know how Lychees work</h4>
  </app-inner-banner>
  <div class="contentWrapper contentpages featuresPage">
    <div class="container">
      <div class="row box">
        <div class="col-12">
          <h2>Why Lychees are so tasty</h2>
          <p>Every avid independent filmmaker has dreamed about making that special interest documentary, or short film to show off their creative prowess. Many have great ideas and want to “wow” the film-festival scene, or video renters with their big project.</p>
        </div>
      </div>
      <div class="row row-55 box">
        <div class="col-md-4">
          <h3>01</h3>
          <h4>Data Driven customerexperience management</h4>
          <p>Make informed design choices from the patterns in reporting on your site. Gather data on navigation pattern and how they impact your success. Improving your user experience by reducing the amount of frustration for your end users.</p>
        </div>
        <div class="col-md-4">
          <h3>02</h3>
          <h4>Gamified Tools</h4>
          <p>Know the real ROI for your UX and customer feedback process by linking points directly to product sales and discounts. Rewarding your loyal customers and turning them into brand advocates through engagement. Lychees aims to commodities feedback to give product owners insights into what end users want.</p>
        </div>
        <div class="col-md-4">
          <h3>03</h3>
          <h4>Measurable ROI</h4>
          <p>Drive engagement with gamified feedback and fuel your next round of improvements. Training your user base to take an active role in improving your digital assts. Gamification improves the quality of feedback by guiding users to key concerns.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <img src="assets/images/feature_image.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
