<nav aria-label="breadcrumb" class="custom_breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Settings</a></li>
    <li class="breadcrumb-item active" aria-current="page">Activity Log</li>
  </ol>
</nav>
<div class="whitebg activityPage">
  <div class="row">
    <div class="col-sm-12 box-outer">
      <div class="box">
        <p>Register <span class="date">1 July 2018, 11:20 am</span></p>
      </div>
      <div class="box">
        <p>Profile Completion <span class="date">1 July 2018, 11:20 am</span></p>
      </div>
      <div class="box">
        <p>Last Profile Update <span class="date">1 July 2018, 11:20 am</span></p>
      </div>
      <div class="box box-1">
        <p>Our Terms & Conditions Log <span class="date">1 July 2018, 11:20 am</span></p>
      </div>
      <div class="box box-1">
        <p>Our Privacy Policies Log <span class="date">1 July 2018, 11:20 am</span></p>
      </div>
      <div class="box box-1">
        <p>User Concent <span class="date">1 July 2018, 11:20 am</span></p>
      </div>
    </div>
  </div>
</div>
<app-musicbtn></app-musicbtn>
