// VARIABLES FOR FONTS
$font: "source-sans" !default;
$font-secondary: "Poppins" !default;

@mixin font-face($font, $font-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font;

        //src        : url("#{$font-path}.eot");
        src: url("#{$font-path}.woff") format("woff"), url("#{$font-path}.woff2") format("woff2");
        font-weight: $font-weight;
        font-style: $font-style;
    }
}

@mixin source-sans {
    font-family: '$font', arial, sans-serif;
    font-weight: 100;
    font-style: normal;
}

@mixin source-sans {
    font-family: '$font', arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin source-sans {
    font-family: '$font', arial, sans-serif;
    font-weight: 500;
    font-style: normal;
}

@mixin source-sans {
    font-family: '$font', arial, sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin Poppins {
    font-family: '$font-secondary', arial, sans-serif;
    font-weight: 300;
    font-style: normal;
}

@mixin Poppins {
    font-family: '$font-secondary', arial, sans-serif;
    font-weight: 200;
    font-style: normal;
}
