
<div class="modal fade customModal" bsModal #filterModal="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Filters</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="filterModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body filterModal">
        <tabset [justified]="true">
          <tab heading="By Status">
            <div class="row">
              <div class="col-md-4">
                <label class="ch-checkbox">
                  <input type="checkbox" />
                  <span>
                    <i class="ch-icon icon-tick"></i> Approved</span>
                </label>
              </div>
              <div class="col-md-4">
                <label class="ch-checkbox">
                  <input type="checkbox" />
                  <span>
                    <i class="ch-icon icon-tick"></i> Assigned</span>
                </label>
              </div>
              <div class="col-md-4">
                <label class="ch-checkbox">
                  <input type="checkbox" />
                  <span>
                    <i class="ch-icon icon-tick"></i> No action Taken</span>
                </label>
              </div>
              <div class="col-md-4">
                <label class="ch-checkbox">
                  <input type="checkbox" />
                  <span>
                    <i class="ch-icon icon-tick"></i> Completed</span>
                </label>
              </div>
              <div class="col-md-4">
                <label class="ch-checkbox">
                  <input type="checkbox" />
                  <span>
                    <i class="ch-icon icon-tick"></i> Declined</span>
                </label>
              </div>
            </div>
            <div class="btn-field mt-sm-4 text-right">
              <button class="button button-rounded button-uppercase button-width-large">APPLY</button>
            </div>
          </tab>
          <tab heading="By Project Name">
            <div class="row">
              <div class="col-md-4">
                <label class="ch-checkbox">
                  <input type="checkbox" />
                  <span>
                    <i class="ch-icon icon-tick"></i> Assigned</span>
                </label>
              </div>
              <div class="col-md-4">
                <label class="ch-checkbox">
                  <input type="checkbox" />
                  <span>
                    <i class="ch-icon icon-tick"></i> No action Taken</span>
                </label>
              </div>
              <div class="col-md-4">
                <label class="ch-checkbox">
                  <input type="checkbox" />
                  <span>
                    <i class="ch-icon icon-tick"></i> Completed</span>
                </label>
              </div>
              <div class="col-md-4">
                <label class="ch-checkbox">
                  <input type="checkbox" />
                  <span>
                    <i class="ch-icon icon-tick"></i> Declined</span>
                </label>
              </div>
            </div>

            <div class="btn-field mt-sm-4 text-right">
              <button class="button button-rounded button-uppercase button-width-large">APPLY</button>
            </div>
          </tab>
          <tab heading="By Report Type">Long Labeled Justified content</tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
