<div  class="heading d-sm-flex justify-content-between align-items-center mb-2 mb-md-3">
  <h1>Setting</h1>
</div>
<div class="discountValuePage consumerProfilePage">
  <div class="boxTop profileEditBox shadowBox">
    <div class="d-lg-flex justify-content-between align-items-center">
      <div class="settingProfileBox d-md-flex align-items-center">
        <div class="userImage"><img src="assets/images/profilePic.png"></div>
        <div>
          <h3>Mohammed El-Hassan <span>mohammed.elh@gmail.com</span></h3>
          <button class="btn btn-outline-primary custom-btn" routerLink="/profile">EDIT PROFILE</button>
        </div>
      </div>
      <div class="rightSec">
        <ul class="d-flex  justify-content-between align-items-center">
          <li>
            <h3>15000<span>Lychees Redeemed</span><span class="total">Total earned 35,000</span></h3>
          </li>
          <li><h3>5th<span>Your Rank</span><span class="total">Total Users 4851</span></h3></li>
        </ul>
      </div>
    </div>

    <div class="profileStatus">
      <!-- You can now use your library component in app.component.html -->
      <div class="profileRanking">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem class="circleOuter active">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-nvoice"></span>
            </div>
            <div class="infostatus">
              <h3>Novice</h3>
              <h4>0 Lychees</h4>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="circleOuter smallCircle active blue">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-star"></span>
            </div>
          </div>
          <h2 class="rate text-center">2k</h2>
        </div>
        <div ngxSlickItem class="circleOuter smallCircle active green">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-star"></span>
            </div>
          </div>
          <h2 class="rate text-center">3k</h2>
        </div>
        <div ngxSlickItem class="circleOuter smallCircle active yellow">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-star"></span>
            </div>
          </div>
          <h2 class="rate text-center">4k</h2>
        </div>
        <div ngxSlickItem class="circleOuter active">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-current"></span>
            </div>
            <div class="infostatus">
              <h3>Beginner</h3>
              <h4>5k Lychees</h4>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="circleOuter smallCircle blue">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-star"></span>
            </div>
          </div>
          <h2 class="rate text-center">10k</h2>
        </div>
        <div ngxSlickItem class="circleOuter smallCircle green">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-star"></span>
            </div>
          </div>
          <h2 class="rate text-center">15k</h2>
        </div>
        <div ngxSlickItem class="circleOuter smallCircle yellow">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-star"></span>
            </div>
          </div>
          <h2 class="rate text-center">20k</h2>
        </div>
        <div ngxSlickItem class="circleOuter">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-w-star"></span>
            </div>
            <div class="infostatus">
              <h3>Winner</h3>
              <h4>25k Lychees</h4>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="circleOuter smallCircle blue">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-star"></span>
            </div>
          </div>
          <h2 class="rate text-center">30k</h2>
        </div>
        <div ngxSlickItem class="circleOuter smallCircle green">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-star"></span>
            </div>
          </div>
          <h2 class="rate text-center">35k</h2>
        </div>
        <div ngxSlickItem class="circleOuter smallCircle yellow">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-star"></span>
            </div>
          </div>
          <h2 class="rate text-center">40k</h2>
        </div>
        <div ngxSlickItem class="circleOuter">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-a-star"></span>
            </div>
            <div class="infostatus">
              <h3>All Star</h3>
              <h4>50k Lychees</h4>
            </div>
          </div>
        </div>
        <div ngxSlickItem class="circleOuter smallCircle blue">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-star"></span>
            </div>
          </div>
          <h2 class="rate text-center">60k</h2>
        </div>
        <div ngxSlickItem class="circleOuter smallCircle green">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-star"></span>
            </div>
          </div>
          <h2 class="rate text-center">70k</h2>
        </div>
        <div ngxSlickItem class="circleOuter smallCircle yellow">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-star"></span>
            </div>
          </div>
          <h2 class="rate text-center">80k</h2>
        </div>
        <div ngxSlickItem class="circleOuter">
          <div class="circleIcon">
            <div class="circleIcon-inner d-flex justify-content-center align-items-center">
              <span class="icon-s-star"></span>
            </div>
            <div class="infostatus">
              <h3>Super Star</h3>
              <h4>100k Lychees</h4>
            </div>
          </div>
        </div>
    </ngx-slick-carousel>
  </div>
    </div>
  </div>

  <div class="listSection">
    <div class="listTop d-flex align-items-center justify-content-between">
      <h2>Redeem Points</h2>
      <button type="button" class="icon-filter circleBtn"></button>
    </div>
    <div class="row discountList">
      <div
        class="col-lg-6 col-xl-4 discountBox" *ngFor="let list of disountvalueList">
        <div
          class="discountBoxInner shadowBox d-sm-flex align-items-center justify-content-between"
          (click)="discoutDetailModal.show()"
        >
          <div class="left">
            <h2>{{ list.website }}</h2>
            <h4>Lychees Required: {{list.no}}</h4>
            <h3>
              {{list.desc}}
            </h3>
          </div>
          <div class="right text-sm-center">
            <h2>{{ list.percentage }}<sup>%</sup></h2>
            <h3>off on {{list.item}}</h3>
            <button class="button lightGrey button-rounded button-uppercase button-height-small button-icon-11 button-width-large">Redeem</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-musicbtn></app-musicbtn>
  <!-- discount value modal start -->
  <div class="modal fade" bsModal #discoutDetailModal="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name"
  >
    <div class="modal-dialog modal-lg customModal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-static-name" class="modal-title pull-left">
            Discount Value Details
          </h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="discoutDetailModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body discountModal">
          <div class="discountBoxInner d-sm-flex align-items-center justify-content-between">
            <div class="left">
              <h3>Value ID: 00002</h3>
              <h2>Amazon</h2>
              <h4><strong>200</strong> Lychees</h4>
              <h5>Date Created: 26th Nov 2017</h5>
            </div>
            <div class="right text-sm-center">
              <div class="circle d-flex align-items-center justify-content-center">
                <div class="circleInner">
                  <h2>10<sup>%</sup></h2>
                  <h3>Discount</h3>
                </div>
              </div>
              <h5>Code<span>HHH457A4</span></h5>
            </div>
          </div>
          <div class="specialNotes">
            <h2>Special Notes</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis
              vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          </div>
          <div class="d-sm-flex align-items-center justify-content-between discFooter">
            <ul class="redeemDate">
              <li>Redeemed By: 10 Users</li>
              <li>Redeemed On: 26th Nov 2017</li>
            </ul>
            <!-- <h4 class="text-center">Yet to Redeem</h4> -->
            <div class="btn-field">
              <button class="button red button-rounded button-uppercase button-width-large" (click)="discoutDetailModal.hide()">
                Delete
              </button>
              <button class="button button-rounded button-uppercase button-width-large" (click)="discoutvalueModal.show()">
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
