.mainWrapper {
  @include calc(min-height, "100vh");
}

.contentWrapper {
  @include experimental-value(min-height, calc(100vh - 354px));
}

.form-group {
  @include margin-bottom(12);
  label {
    font-size: 14px;
    font-weight: 600;
    color: #7F8FA4;
    @include padding-bottom(5);
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    @include media("<=767px") {
      font-size: 12px;
    }
    // &.label-sm {
    //   @include fontsize(15);
    // }
  }
  .form-control {
    height: 48px;
    @include radius(4px);
    border: 2px solid #DDE3E9;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    @include media("<=992px") {
      height: 40px;
      font-size: 14px;
    }
    &:focus {
      @include box-shadow-none;
      border-color: lighten($main-color01, 10%);
    }
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: darken($white, 20%);
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: darken($white, 20%);
    }
    & :-ms-input-placeholder {
      /* IE 10+ */
      color: darken($white, 20%);
    }
    & :-moz-placeholder {
      /* Firefox 18- */
      color: darken($white, 20%);
    }
  }
  textarea.form-control {
    height: auto;
    resize: none;
  }
}

.ham-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  .menu-icon {
    cursor: pointer;
    transition: all 300ms ease-in-out;
    width: 30px;
    span {
      position: relative;
      @include margin-bottom(6);
      height: 5px;
      display: block;
      &:before {
        @include pos(ab, 0 0 0 0);
        content: "";
        background-color: $white;
        width: 100%;
        height: 3px;
        transition: all 300ms ease-in-out;
      }
      &:nth-child(2) {
        &:before {
          width: 25px;
        }
      }
    }
    &:hover {
      span {
        &:nth-child(2) {
          &:before {
            left: 5px;
          }
        }
      }
    }
  }
}

.menuOpen {
  @include pos(fix, 0 0 0 0);
  overflow: hidden;
}

.back-overlay {
  @include pos(fix, 0 0 0 0);
  z-index: 99;
  background-color: rgba($black, 0.8);
  display: none;
  &.openBg {
    display: $b;
  }
}

.row{
  &.row-55{
    margin-left: -55px;
    margin-right: -55px;
    @media screen and (max-width:1200px){
      margin-left: -25px;
      margin-right: -25px;
    }
    @media screen and (max-width:767px){
      margin-left: -15px;
      margin-right: -15px;
    }
    [class*="col-"]{
      padding-left: 55px;
      padding-right:55px;
      @media screen and (max-width:1200px){
        padding-left: 25px;
        padding-right:25px;
      }
      @media screen and (max-width:767px){
        padding-left: 15px;
        padding-right:15px;
      }
    }
  }
  &.row-25{
    margin-left: -25px;
    margin-right: -25px;
    @media screen and (max-width:992px){
      margin-left: -20px;
      margin-right: -20px;
    }
    @media screen and (max-width:767px){
      margin-left: -15px;
      margin-right: -15px;
    }
    [class*="col-"]{
      padding-left: 25px;
      padding-right:25px;
      @media screen and (max-width:992px){
        padding-left:20px;
        padding-right:20px;
      }
      @media screen and (max-width:767px){
        padding-left: 15px;
        padding-right:15px;
      }
    }
  }
}

.contentpages{
  padding: 70px 0 45px 0;
  @include media("<=992px") {
    padding: 40px 0 20px 0;
  }
}

.button-16{
  font-size: 16px !important;
}


.radio-toggle{
  label{
    margin:0;
    &.z_checked{
      @include pos(r, null);
      cursor: pointer;
      span{
        width:75px;
        height:40px;
        border: 1px solid #DDE3E9;
        background-color: $white;
        @include radius(20px);
        display: inline-block;
        @include padding-left(30);
        @include pos(r, null);
        @include media("<=767px") {
          width:60px;
          height:25px;
        }
        &:before {
          @include pos(a, 0px auto auto 1px );
          // @include circle;
          border-radius:50%;
          @include gradiant-45(#7D70F6,#042DE0);
          content: "";
          @include square(39px);
          @include box-shadow-custom(0px,2px,2px,rgba(0,0,0,0.3));
          @include media("<=767px") {
            @include square(24px);
          }
        }
      }
      input[type="checkbox"]{
        @include pos(a, 0px auto auto 0px );
        visibility: hidden;
        &:checked{
          &+ span{
            &:before {
              @include pos(a, 0px 0px auto auto);
            }
          }
        }
      }
    }
  }
}

.button-jumbo{
  @include media("<=992px") {
    height: 50px;
    line-height: 50px;
  }
}
.button {
  @include media("<=992px") {
    font-size: 13px;
    line-height: 38px;
    height: 38px;
  }
  &.grey-outline{
    border: 1px solid #7F8FA4;
    font-size: 14px;
    color: #7F8FA4;;
    background-color: $white;
    height:38px;
    line-height: 38px;
    font-weight: 400;
  }
}
.customPagination{
  .pagination{
    @include radius(0px);
    display: inline-flex;
    li{
      margin:0 20px;
      @include media("<=992px") {
        margin:0px;
      }
      &.page-item{
        .page-link{
          text-decoration: none;
          @include height-width(36px,36px);
          @include radius(50%);
          border:0 none;
          @include text-format-weight(21px,$color00,400);
          line-height: 17px;
        }
        &.pagination-next , &.pagination-prev{
          .page-link{
            font-size: 46px;
            padding: 0;
            font-weight: 400;
            line-height: 33px;
          }
        }
        &.active{
          .page-link {
            z-index: 1;
            color: $color01;
            background-color: #FCFCFD;
            border-color: #FCFCFD;
            box-shadow: 1px 1px 0 #DDE3E9;
          }
        }
      }
    }
  }
}

.dropdown-toggle::after{
  content:none;
}
