.br {
  display: block;
}

.ibv {
  display: $ib;
  vertical-align: middle;
}

.pointer {
  cursor: pointer;
}

.t_u {
  text-decoration: underline;
}

.p-none {
  pointer-events: none;
}

.ib {
  display: $ib;
}

.text-black {
  color: $black !important;
}

.text-theme {
  color: $theme !important;
}

.bg-theme {
  background-color: $theme;
}

.flow-hidden {
  overflow: hidden;
}

.font-small {
  @include fontsize(14);
}

.fw400 {
  @include font-weight(normal);
}

.fw600 {
  @include font-weight(semi-bold);
}

.fw700 {
  @include font-weight(bold);
}

.fw800 {
  @include font-weight(extra-bold);
}

// Margin
@include maring-and-padding-spacing($spacing);
.margin-1x {
  @extend %margin-1x;
}

.margin-left-1x {
  @extend %margin-left-1x;
}

.margin-left-2x {
  @extend %margin-left-2x;
}

.margin-left-3x {
  @extend %margin-left-3x;
}

.margin-left-4x {
  @extend %margin-left-4x;
}

.margin-left-6x {
  @extend %margin-left-6x;
}

.margin-right-1x {
  @extend %margin-right-1x;
}

.margin-right-2x {
  @extend %margin-right-2x;
}

.margin-right-3x {
  @extend %margin-right-3x;
}

.margin-right-4x {
  @extend %margin-right-4x;
}

.margin-right-6x {
  @extend %margin-right-6x;
}

.margin-right-8x {
  @extend %margin-right-8x;
}

.margin-top-1x {
  @extend %margin-top-1x;
}

.margin-top-2x {
  @extend %margin-top-2x;
}

.margin-top-3x {
  @extend %margin-top-3x;
}

.margin-top-4x {
  @extend %margin-top-4x;
}

.margin-top-6x {
  @extend %margin-top-6x;
}

.margin-top-7x {
  @extend %margin-top-7x;
}

.margin-top-8x {
  @extend %margin-top-8x;
}

.margin-top-10x {
  @extend %margin-top-10x;
}

.margin-bottom-1x {
  @extend %margin-bottom-1x;
}

.margin-bottom-2x {
  @extend %margin-bottom-2x;
}

.margin-bottom-3x {
  @extend %margin-bottom-3x;
}

.margin-bottom-4x {
  @extend %margin-bottom-4x;
}

.margin-bottom-6x {
  @extend %margin-bottom-6x;
}

.margin-bottom-8x {
  @extend %margin-bottom-8x;
}

.margin-bottom-10x {
  @extend %margin-bottom-10x;
}

.margin-bottom-12x {
  @extend %margin-bottom-12x;
}

.margin-bottom-14x {
  @extend %margin-bottom-14x;
}

.margin-bottom-0 {
  @include margin-bottom(0);
}

// PADDING
.padding-1x {
  @extend %padding-1x;
}

.padding-2x {
  @extend %padding-2x;
}

.padding-4x {
  @extend %padding-4x;
}

.padding-left-1x {
  @extend %padding-left-1x;
}

.padding-left-2x {
  @extend %padding-left-2x;
}

.padding-left-3x {
  @extend %padding-left-3x;
}

.padding-left-4x {
  @extend %padding-left-4x;
}

.padding-right-1x {
  @extend %padding-right-1x;
}

.padding-right-2x {
  @extend %padding-right-2x;
}

.padding-right-3x {
  @extend %padding-right-3x;
}

.padding-right-4x {
  @extend %padding-right-4x;
}

.padding-top-1x {
  @extend %padding-top-1x;
}

.padding-top-2x {
  @extend %padding-top-2x;
}

.padding-top-3x {
  @extend %padding-top-3x;
}

.padding-top-4x {
  @extend %padding-top-4x;
}

.padding-top-6x {
  @extend %padding-top-6x;
}

.padding-top-7x {
  @extend %padding-top-7x;
}

.padding-top-8x {
  @extend %padding-top-8x;
}

.padding-top-10x {
  @extend %padding-top-10x;
}

.padding-top-12x {
  @extend %padding-top-12x;
}

.padding-bottom-1x {
  @extend %padding-bottom-1x;
}

.padding-bottom-2x {
  @extend %padding-bottom-2x;
}

.padding-bottom-3x {
  @extend %padding-bottom-3x;
}

.padding-bottom-4x {
  @extend %padding-bottom-4x;
}

.padding-bottom-6x {
  @extend %padding-bottom-6x;
}

.padding-bottom-8x {
  @extend %padding-bottom-8x;
}

.padding-bottom-10x {
  @extend %padding-bottom-10x;
}

// Position
.p-t2 {
  @include pos(r, 2px null null);
}

.p-t4 {
  @include pos(r, 4px null null);
}

//CheckBox Custome
.ch-checkbox {
  display: $ib;
  overflow: hidden;
  cursor: pointer;
  color: $font-color;
  @include pos(r, null);
  @include fontsize(15);
  @include transition(all 0.4s);
  padding-bottom: 0 !important;
  & * {
    @include transition(all 0.4s);
  }
  input[type="checkbox"],
  input[type="radio"] {
    @include pos(ab, 0 null null 0);
    @include opacity(0);
    &:checked {
      &+span,
      &~span {
        &:before {
          border-color: $theme;
          background-color: $theme;

        }
        .ch-icon {
          @include opacity(1);
          @include translateY(0);
        }
      }
    }
  }
  span {
    display: $b;
    overflow: hidden;
    min-height: 20px;
    line-height: 20px;
    color: $font-color;
    font-weight: 400;
    @include pos(r, null);
    @include fontsize(17);
    @include padding-left(28);
    text-transform: none;
    &:before {
      content: "";
      background-color: #F2FBFF;
      @include radius(4px);
      @include pos(ab, 2px null null 1px);
      @include square(18px);
      @include transition(inherit);
      border:1px solid #A4A4A4;
    }
    .ch-icon {
      color: $white;
      @include pos(ab, 6px null null 5px);
      @include fontsize(10);
      @include opacity(0);
      @include translateY(-100%);
    }
  }
}

//Custom Radio Button
.ch-radio {
  display: $ib;
  overflow: hidden;
  cursor: pointer;
  font-weight: 400;
  @include pos(r, null);
  @include fontsize(16);
  @include transition(all 0.4s);
  & * {
    @include transition(all 0.4s);
  }
  input[type="radio"] {
    @include pos(ab, 0 null null 0);
    @include opacity(0);
    &:checked {
      &+span,
      &~span {
        &:before {
          // background-color: $theme;
        }
        &:after {
          @include scale(1);
          @include opacity(1);
        }
      }
    }
  }
  span {
    display: $b;
    overflow: hidden;
    min-height: 28px;
    line-height: 28px;
    @include pos(r, null);
    @include padding-left(35);
    &:after,
    &:before {
      content: "";
      border: 2px solid $theme;
      @include pos(ab, 1px null null 1px);
      @include transition(inherit);
      @include square(25px);
      @include radius(50%);
    }
    &:after {
      background-color: $theme;
      top: 7px;
      left: 7px;
      @include square(13px);
      @include scale(0);
      @include opacity(0);
    }
  }
  label {
    cursor: pointer;
  }
}

// Custome Switch button
.ch-switch {
  @include pos(r, null);
  cursor: pointer;
  & *,
  & *:after,
  & *:before {
    @include transition(all 0.4s);
  }
  input[type="checkbox"] {
    @include pos(ab, 0 null null 0);
    @include opacity(0);
    &:checked {
      &+span,
      &~span {
        &:after {
          left: 33px;
          background-color: $theme;
        }
      }
    }
  }
  span {
    display: $ib;
    width: 45px;
    height: 10px;
    cursor: pointer;
    background-color: darken($white, 20%);
    @include pos(r, null);
    @include radius(10px);
    &:after {
      content: "";
      @include pos(ab, -7px null null -7px);
      @include radius(50%);
      @include square(25px);
      @include box-shadow(0 0 5px rgba(0, 0, 0, 0.3));
      background-color: darken($white, 40%);
      z-index: 1;
    }
  }
}

// Custom Upload Button
.ch-upload-button {
  @include pos(r, null);
  input[type="file"] {
    @include pos(ab, 0 null null 0);
    @include square(100%);
    @include opacity(0);
    cursor: pointer;
  }
  span {
    cursor: pointer;
  }
}

.gutters-3 {
  @include margin-left(-3);
  @include margin-right(-3);
  &>.col,
  &>[class*="col-"] {
    @include padding-left(3);
    @include padding-right(3);
  }
}

.gutters-5 {
  @include margin-left(-5);
  @include margin-right(-5);
  &>.col,
  &>[class*="col-"] {
    @include padding-left(5);
    @include padding-right(5);
  }
}

.gutters-7 {
  @include margin-left(-7);
  @include margin-right(-7);
  &>.col,
  &>[class*="col-"] {
    @include padding-left(7);
    @include padding-right(7);
  }
}

.gutters-10 {
  @include margin-left(-10);
  @include margin-right(-10);
  &>.col,
  &>[class*="col-"] {
    @include padding-left(10);
    @include padding-right(10);
  }
}
