<div class="formWrapper">
  <div class="resetFrom-section">
    <div class="formWrapper-block">
      <div class="container">
        <div class="sFormBox text-center verifypage">
          <img src="assets/images/email_verifiaction.svg" alt="img">
          <h4>A verification email has been sent to your email address. Please click the
            link in that email to complete Sign Up process </h4>
          <form>
            <div class="field-group">
              <div class="btn-field text-center padding-top-3x">
                <button class="button button-rounded button-uppercase button-min-105">Ok</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
