<nav aria-label="breadcrumb" class="custom_breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Settings</a></li>
    <li class="breadcrumb-item active" aria-current="page">Activity Log</li>
  </ol>
</nav>
<div class="whitebg deleteAccountPage">
  <div class="row">
    <div class="col-sm-12">
      <h4>How the delete data will be processed</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimd veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreenderitgb  vyolptate ved lit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque iae abd illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odnitd ut fugit, sed quia consequuntur.</p>
      <h4>What data will be deleted instantly.</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimd veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreenderitgb  vyolptate ved lit esse cillum dolore.</p>
      <h4>What data will be deleted after a certain period of time.</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labpreenderitgb  vyolptate ved lit esse cillum dolore.</p>
      <h4>What are those instances where the data may still show even after deleting the account.</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labpreenderitgb  vyolptate ved lit esse cillum dolore.</p>
      <h4>What happens after deleting the account i.e. the sign/uplogin credentials will be invalid for further use and cannot be reused to signup/login again</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labpreenderitgb  vyolptate ved lit esse cillum dolore.</p>
      <div class="form-group">
        <label class="ch-checkbox">
          <input type="checkbox"/>
          <span>
            <i class="ch-icon icon-tick"></i> Yes I Agree</span>
        </label>
      </div>
      <div class="clearfix mt-4">
          <a href="#" class="button button-rounded button-uppercase button-width-large">Delete Account</a>
      </div>
    </div>
  </div>
</div>
<app-musicbtn></app-musicbtn>

