<div class="subscriberSec">
  <div class="container">
    <div class="d-md-flex align-items-center justify-content-md-between">
      <div class="d-md-flex align-items-center justify-content-md-between">
        <div class="icon">
          <img src="assets/images/email_verifiaction.svg" alt="img" class=img-fluid>
        </div>
        <div class="info">
          <h2>Subscribe to our Newsletter</h2>
          <h3>Get notified about next update</h3>
        </div>
      </div>
      <div class="submitEmail">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Your Email Address" aria-label="Amount (to the nearest dollar)">
          <div class="input-group-append">
            <span class="input-group-text"><i class="icon-plane ico"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
