<div class="heading d-sm-flex justify-content-between align-items-center mb-2 mb-md-3">
  <nav aria-label="breadcrumb" class="custom_breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Settings</a></li>
      <li class="breadcrumb-item active" aria-current="page">Transactions</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between">
    <div class="btn-group" dropdown [autoClose]="false" >
      <button id="button-basic" dropdownToggle type="button" class="icon-search circleBtn dropdown-toggle" aria-controls="dropdown-basic">
      </button>
      <div  id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
      role="menu" aria-labelledby="button-basic">
          <input type="text" placeholder="Search Here" class="searchInput">
      </div>
    </div>
  </div>
</div>
<div class="dashboardPage transactionList">
  <div class="listSection">
    <div class="row d-lg-flex align-items-center shadowBox reportlist" *ngFor="let list of transactionList">
      <div class="col-lg-5">
        <h5>Transaction Date : {{list.date}}</h5>
        <h2>{{list.title}} Lychees</h2>
        <h3>Transaction ID: {{list.id}}</h3>
      </div>
      <div class="col-6 col-lg-2">
        <h5>Valid From</h5>
        <h4>{{list.validFrom}}</h4>
      </div>
      <div class="col-6 col-lg-2">
        <h5>Valid Till</h5>
        <h4>{{list.validTill}}</h4>
      </div>
      <div class="col-6 col-lg-2">
        <h5>Amount</h5>
        <h4>${{list.amount}}/ Monthly</h4>
      </div>
      <div class="arrow col-6 col-lg-1"><a class="icon-transction"></a></div>
    </div>
  </div>
</div>
<app-musicbtn></app-musicbtn>

