<div class="heading d-flex justify-content-between align-items-start">
  <h1>Dashboard</h1>
</div>
<div class="dashboardPage">
  <div class="boxTop shadowBox d-md-flex justify-content-between align-items-start">
    <h2>Hi, <span>Mohammed</span></h2> <div class="rightSec d-flex  align-items-center"><h3>You have <span>35,000</span> Lychees in your account!</h3> <div class="arrow"><a href="" class="icon-arrow-right"></a></div></div>
  </div>
  <div class="row boxSection">
    <div class="box col-sm-6 col-lg-3 text-center">
      <div class="box-inner shadowBox">
        <h2>My Projects</h2>
        <div class="icon">
          <div class="icon-inner d-flex justify-content-center align-items-center">
            <i class="icon-myproject"></i>
          </div>
        </div>
        <div class="boxBottom d-flex justify-content-between align-items-center">
          <div class="text-left"><h3>14</h3></div>
          <div class="arrow"><a routerLink="/manage-projects" class="icon-arrow-right"></a></div>
        </div>
      </div>
    </div>
    <div class="box col-sm-6 col-lg-3 text-center">
      <div class="box-inner shadowBox">
        <h2>My Team</h2>
        <div class="icon sky">
            <div class="icon-inner d-flex justify-content-center align-items-center">
            <i class="icon-team"></i>
          </div>
        </div>
        <div class="boxBottom d-flex justify-content-between align-items-center">
          <div class="text-left"><h3>14</h3></div>
          <div class="arrow"><a routerLink="/manage-team" class="icon-arrow-right"></a></div>
        </div>
      </div>
    </div>
    <div class="box col-sm-6 col-lg-3 text-center">
      <div class="box-inner shadowBox">
        <h2>Issues Reported</h2>
        <div class="icon orange">
            <div class="icon-inner d-flex justify-content-center align-items-center">
            <i class="icon-issueReported"></i>
          </div>
        </div>
        <div class="boxBottom d-flex justify-content-between align-items-center">
          <div class="text-left"><h3>14</h3></div>
          <div class="arrow"><a routerLink="/report-list" class="icon-arrow-right"></a></div>
        </div>
      </div>
    </div>
    <div class="box col-sm-6 col-lg-3 text-center">
      <div class="box-inner shadowBox">
        <h2>My Current Plan</h2>
        <div class="icon green">
            <div class="icon-inner d-flex justify-content-center align-items-center">
            <i class="icon-plan"></i>
          </div>
        </div>
        <div class="boxBottom d-flex justify-content-between align-items-center">
          <div class="text-left">
            <h3>Gold<span>Expires on: 31st Jan 2018</span></h3>
          </div>
          <div class="arrow"><a href="" class="icon-arrow-right"></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="listSection">
    <div class="listTop d-flex align-items-center justify-content-between">
      <h2>Latest Reports</h2>
      <button  routerLink="/report-list" class="btn btn-outline-primary custom-btn">View All</button>
    </div>

    <div class="row d-lg-flex align-items-center shadowBox reportlist" *ngFor="let list of statusList">
      <div class="col-lg-5">
        <h5>Report ID :{{list.id}}</h5>
        <h2>{{list.title}}</h2>
        <h3>{{list.siteName}}</h3>
      </div>
      <div class="col-6 col-lg-2">
        <h5>Lychees</h5>
        <h4>{{list.quantity}}</h4>
      </div>
      <div class="col-6 col-lg-2">
        <h5>Status</h5>
        <h3 [ngClass]="{'navy' : list.status == 'Assigned' || list.status == 'Completed', 'red': list.status == 'Declined', 'orange': list.status == 'Reopened' ||  list.status == 'No action Taken',  'watergreen': list.status == 'Marked as resolved', 'green': list.status == 'Approved' || list.status == 'Request decline by admin'}">{{list.status}}</h3>
      </div>
      <div class="col-6 col-lg-2">
        <h3 class="orange">No member assigned</h3>
      </div>
      <div class="arrow col-6 col-lg-1"><a routerLink="/report-detail" class="icon-arrow-right"></a></div>
    </div>
    <div class="row d-lg-flex align-items-center shadowBox reportlist">
      <div class="col-lg-5">
        <h5>Report ID :0213AAD</h5>
        <h2>Spelling mistake in Heading </h2>
        <h3>Amazon</h3>
      </div>
      <div class="col-6 col-lg-2">
        <h5>Lychees</h5>
        <h4>200</h4>
      </div>
      <div class="col-6 col-lg-2">
        <h5>Status</h5>
        <h3 class="orange">No action Taken</h3>
      </div>
      <div class="col-6 col-lg-2">
        <div class="userInfo d-flex align-items-md-center">
          <div class="userImage"><img src="assets/images/profilePic.png"></div>
          <div class="info">
            <h5>Assigned to</h5>
            <h3>Merry</h3>
          </div>
        </div>
      </div>
      <div class="arrow col-6 col-lg-1"><a  routerLink="/report-detail" class="icon-arrow-right"></a></div>
    </div>

  </div>
</div>
<app-musicbtn></app-musicbtn>
