<div class="formWrapper">
  <div class="fogotFrom-section">
    <div class="formWrapper-block">
      <div class="container">
        <div class="sFormBox">
          <h3>Forgot Password</h3>
          <h4>Please enter your email below. We will send you a reset link at your mailbox.</h4>
          <form>
            <div class="field-group">
              <div class="form-group">
                <label class="label-sm">Email Address</label>
                <input class="form-control" placeholder="Email Address" type="text" />
              </div>
              <div class="btn-field text-center padding-top-3x">
                <button class="button button-rounded button-uppercase button-width-large">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
