<div class="bannerBlock">
  <div class="_bannerVideo">
    <img src="assets/images/Full-Video.png" alt="img">
  </div>
</div>

<div class="mainWrapper">
  <div class="homeBlock">
    <div class="_aboutLych-section">
      <div class="container">
        <div class="_aboutLych">
          <h1>Why Lychees are so tasty</h1>
          <div class="_dataContainer">
            <div class="_dataRow">
              <div class="row no-gutters">
                <div class="col-md-6 align-self-center">
                  <img src="assets/images/Data-Driven.png" class="img-fluid" alt="img" data-reveal="100" data-class="fadeIn" />
                </div>
                <div class="col-md-6">
                  <div class="_number" data-reveal="500" data-class="zoomIn">
                    <span>01</span>
                  </div>
                  <div class="_txt _mSpace-left" data-reveal="700" data-class="fadeIn">
                    <h2>Data Driven customer
                      <br> experience management</h2>
                    <p>
                      Make informed design choices from the patterns in reporting on your site. Gather data on navigation pattern and how they
                      impact your success. Improving your user experience by reducing the amount of frustration for your
                      end users.
                    </p>
                  </div>
                </div>
              </div>
              <div class="_lineSperator">
                <span></span>
                <div class="__line"></div>
              </div>
            </div>


            <div class="_dataRow">
              <div class="row no-gutters">

                <div class="col-md-6">
                  <div class="_number _mSpace-right" data-reveal="500" data-class="zoomIn">
                    <span>02</span>
                  </div>
                  <div class="_txt  _mSpace-right" data-reveal="700" data-class="fadeIn">
                    <h2>Gamified Tools</h2>
                    <p> Know the real ROI for your UX and customer feedback process by linking points directly to product sales
                      and discounts. Rewarding your loyal customers and turning them into brand advocates through engagement.
                      Lychees aims to commodities feedback to give product owners insights into what end users want.
                    </p>
                  </div>
                </div>
                <div class="col-md-6 text-center">
                  <img src="assets/images/Gamified-Tool.png" data-reveal="100" data-class="fadeIn" class="img-fluid _mSpace-left" alt="img"
                  />
                </div>
              </div>
              <div class="_lineSperator">
                <span></span>
                <div class="__line"></div>
              </div>
            </div>



            <div class="_dataRow">
              <div class="row no-gutters">
                <div class="col-md-6">
                  <img src="assets/images/Measurable-ROI.png" data-reveal="100" data-class="fadeIn" class="img-fluid" alt="img" />
                </div>
                <div class="col-md-6">
                  <div class="_number" data-reveal="500" data-class="zoomIn">
                    <span>03</span>
                  </div>
                  <div class="_txt _mSpace-left" data-reveal="700" data-class="fadeIn">
                    <h2>Measurable ROI</h2>
                    <p>Drive engagement with gamified feedback and fuel your next round of improvements. Training your user
                      base to take an active role in improving your digital assts. Gamification improves the quality of feedback
                      by guiding users to key concerns.
                    </p>
                  </div>
                </div>
              </div>
              <div class="_lineSperator">
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="_app-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7" data-reveal="500" data-class="fadeIn">

            <h2>Build Better Apps and Website</h2>
            <p>Customers are rewarded with points for providing visual feedback directly to your live site in private reports.</p>
            <p>Develope your own community of testers and brand advocates through early engagement and rapid development.</p>
            <p>your end users for providing crusial feedback on features and keep them coming back to your site regardless of
              any problems they have encoutered with the site.</p>
            <p>Set rewards according to your target audience. Your rewards can be managed manually or set a trigger on a new
              reports. Rewards can be in the form of free products, discounts or vouchers and are also backed by points and
              levels on our gamification platform.</p>

          </div>
          <div class="col-lg-5 d-lg-block d-none align-self-center" data-reveal="700" data-class="fadeIn">
            <img src="assets/images/Build-BetterApps.png" alt="img" class="img-fluid wow fadeIn" />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
