<div class="formWrapper">
  <div class="loginFrom-section">
    <div class="formWrapper-block">
      <div class="container">
        <div class="form-box">
          <div class="row no-gutters">
            <div class="col-lg-7 col-md-6">
              <div class="_signOptBlock">
                <div class="_container">
                  <h2>Welcome to Lychees.</h2>
                  <div class="__opt">
                    <h3>Sign Up with social media</h3>
                    <button class="_btn _facebook-btn">
                      <span class="_txt">Sign Up with Facebook</span>
                      <span class="ico">
                        <i class="icon-facebook"></i>
                      </span>
                    </button>
                    <button class="_btn _google-btn">
                      <span class="_txt">Sign Up with Google</span>
                      <span class="ico">
                        <i class="icon-google"></i>
                      </span>
                    </button>
                  </div>
                  <div class="_linkOpt">
                    <h3>Already have account?
                      <a  routerLink="/login">Sign In</a>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-6">
              <div class="_signupFrom">
                <tabset>
                  <tab heading="SERVICE PROVIDER">
                    <form>
                      <div class="field-group">
                        <div class="form-group">
                          <label class="label-sm">Full name</label>
                          <input class="form-control" placeholder="Full name" type="text" />
                        </div>
                        <div class="form-group">
                          <label class="label-sm">Email Address</label>
                          <input class="form-control" placeholder="Email Address" type="text" />
                        </div>
                        <div class="form-group">
                          <label class="label-sm">password</label>
                          <input class="form-control" placeholder="Enter Password" type="password" />
                        </div>
                        <div class="form-group">
                          <label class="label-sm">CONFIRM PASSWORD</label>
                          <input class="form-control" placeholder="Confirm Password" type="password" />
                        </div>
                        <div class="form-group">
                          <span class="font-small">By Signing up, you agree to the
                            <a href="#" class="text-theme">Terms & Conditions</a> and
                            <br/>
                            <a href="#" class="text-theme">Privacy Policy.</a>
                          </span>
                        </div>
                        <div class="btn-field">
                          <button class="button button-rounded button-uppercase button-width-large" routerLink="/register/terms">SIGN up</button>
                        </div>
                      </div>
                    </form>
                  </tab>
                  <tab heading="NORMAL USER">
                    <form>
                      <div class="field-group">
                        <div class="form-group">
                          <label class="label-sm">Full name</label>
                          <input class="form-control" placeholder="Full name" type="text" />
                        </div>
                        <div class="form-group">
                          <label class="label-sm">Email Address</label>
                          <input class="form-control" placeholder="Email Address" type="text" />
                        </div>
                        <div class="form-group">
                          <label class="label-sm">password</label>
                          <input class="form-control" placeholder="Enter Password" type="password" />
                        </div>

                        <div class="form-group">
                          <span class="font-small">By Signing up, you agree to the
                            <a href="#" class="text-theme">Terms & Conditions</a> and
                            <br/>
                            <a href="#" class="text-theme">Privacy Policy.</a>
                          </span>
                        </div>
                        <div class="btn-field">
                          <button class="button button-rounded button-uppercase button-width-large" routerLink="/register/terms">SIGN up</button>
                        </div>
                      </div>
                    </form>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
